<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Fanpage</title>
    <link rel="stylesheet" href="/SWAPI/assets/css/page_d_acceuille.css">
</head>
<body>
    <div class="bar_de_nav">
        <nav> 
<!-- Bon pour ca je pense que je peut l'optimiser au lieux de faire toute c'est page je peut faire 
une seul page parents si en peut dire et l'a bas en vas mettre toutes les info ensuite en vas mettre les liens ici enfain tu as compris l'idee
  Donc voila pour le moments j'essaye juste d'avoir une idee de quoi faire-->
            <h1 class="titre_star">Star Wars</h1>
            <a href="./charc.html">Personage</a>
            <a href="./films.html">Films</a>
            <a href="./planets.html">Planets</a>            
            <a href="./species.html">Species</a>
            <a href="./starship.html">Starship</a>
            <a href="./vehicle.html">Vehicles</a>
        </nav>
    </div>
    <div class="descrip_para">
        <h3><span class="etude_describ">About the project</span></h3>
        <p>So this preject is for studies purpusse, I will use ia to write me something I dont want to write all this</p>
    </div>

    <section class="descrip_star_wars">
        <h2 class="titre_descrip"> What is Star Wars</h2>
        <div class="decrib_1"> 
            <p class="para_describ_1"> bla bla bla en vas utiliser l'ia pour ca flemme </p>    
        </div>
        <div class="describ_2">
            <p class="para_describe_2"> meme chose avec l'ia</p>
        </div>
        <div class="describ_3">
            <p class="para_describe_3"> meme chose avec l'ia</p>
        </div>
        <button class="call_to_action">Clique pour decouvrire les Personage</button>
    </section>
<section class="about_me">
    <h3 class="titre_pour_me">Who Am I???</h3>
    <p class="decrib_moi">bon meme chose en vas utiliser l'ia apres pour ca</p>
    <!-- Mettre mon github + mon linkdin + mon Insta -->
</section>
<div class="les_droits">
    <p>C'est un prjet d'etude tkt je suis pas arabe mais Kabyle</p>
</div>

</body>
</html>