{{define "planets"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Star Wars - Planètes</title>
    <link rel="stylesheet" href="/static/css/site.css">
    <link rel="stylesheet" href="/static/css/search.css">
</head>
<body>
    <header class="bar_de_nav">
        <nav class="navbar">
            <div class="nav-left">
                <a href="/characters">Personnages</a>
                <a href="/films">Films</a>
                <a href="/planets">Planètes</a>
            </div>
            <div class="nav-center">
                <a href="/"><img src="/static/photos/Star_Wars_Logo.svg-removebg-preview.png" alt="Star Wars" class="nav-logo"></a>
            </div>
            <div class="nav-right">
                <a href="/species">Espèces</a>
                <a href="/starships">Vaisseaux</a>
                <a href="/vehicles">Véhicules</a>
            </div>
        </nav>
    </header>
    <body>
    <div class="top-search-bar">
        <form action="/search" method="GET" class="search-form">
            <input type="text" name="query" placeholder="Rechercher..." required>
            <button type="submit">GO</button>
        </form>
    </div>
    <header class="bar_de_nav">
    <main class="grid-container">
        {{range .Results}}
        <div class="card">
            <h2>{{.Name_p}}</h2>
            <div class="info">
                <p><strong>Climat :</strong> {{.Climate}}</p>
                <p><strong>Terrain :</strong> {{.Terrain}}</p>
                <p><strong>Population :</strong> {{.Population}}</p>
                <p><strong>Diamètre :</strong> {{.Diameter}} km</p>
                <p><strong>Gravité :</strong> {{.Gravity}}</p>
            </div>
        </div>
        {{end}}
    </main>

    <footer class="pagination">
        {{if .Previous}}<a href="?page=1" class="btn">Précédent</a>{{end}}
        {{if .Next}}<a href="?page=2" class="btn">Suivant</a>{{end}}
    </footer>
</body>
</html>
{{end}}