{{define "species"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Star Wars - Espèces</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
    <header class="bar_de_nav">
        <nav class="navbar">
            <div class="nav-left">
                <a href="/characters">Personnages</a>
                <a href="/films">Films</a>
                <a href="/planets">Planètes</a>
            </div>
            <div class="nav-center">
                <a href="/"><img src="/SWAPI/assets/photos/Star_Wars_Logo.svg-removebg-preview.png" alt="Star Wars" class="nav-logo"></a>
            </div>
            <div class="nav-right">
                <a href="/species">Espèces</a>
                <a href="/starships">Vaisseaux</a>
                <a href="/vehicles">Véhicules</a>
            </div>
        </nav>
    </header>

    <main class="grid-container">
        {{range .Results}}
        <div class="card">
            <h2>{{.Name_s}}</h2>
            <div class="info-details">
                <p><strong>Classification :</strong> {{.Classification}}</p>
                <p><strong>Désignation :</strong> {{.Designation}}</p>
                <p><strong>Langue :</strong> {{.Language}}</p>
                <p><strong>Taille moyenne :</strong> {{.Average_height}} cm</p>
                <p><strong>Espérance de vie :</strong> {{.Average_lifespan}} ans</p>
                <p><strong>Couleurs de peau :</strong> {{.Skin_colors}}</p>
                <p><strong>Couleurs de cheveux :</strong> {{.Hair_colors}}</p>
                <p><strong>Couleurs d'yeux :</strong> {{.Eye_colors}}</p>
            </div>
        </div>
        {{else}}
        <p class="empty-msg">Aucune espèce trouvée.</p>
        {{end}}
    </main>

    <footer class="pagination">
        {{if .Previous}}
            <a href="?page=1" class="btn-nav">Précédent</a>
        {{end}}
        {{if .Next}}
            <a href="?page=2" class="btn-nav">Suivant</a>
        {{end}}
    </footer>
</body>
</html>
{{end}}